@model ApartmentRentalSystem.Models.User
@{
    ViewBag.Title = "Index";
}
<style>
    #icons {
        position: relative;
        top: 315px;
        left: 785px;
    }

    .picture {
        margin: 5px;
    }
    
    .imageLogin {
        left: 0;
        width: 50%;
        height: 100%;
        background-color: blue;
        position: absolute;
    }
    #formboxLogin {
        left: 800px;
        top: 300px;
        position: relative;
    }
    #LoginText {
        top:200px;
        left:850px;
        position: relative;
        font-weight:bold;
    }
</style>

<header>
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />
</header>
<body>
    <img class="imageLogin" src="~/Image/mono-gatvy.jpg" />

    <h2 id="LoginText">Login</h2>

    <div id="formboxLogin">
        @using (Html.BeginForm())
        {
            <div>Username</div>
            <div>@Html.TextBoxFor(m => m.Username)</div>
            <div>Password</div>
            <div>@Html.TextBoxFor(m => m.Password)</div>
            <input type="submit" value="Loggin" />

            <input type="button" id="CreateAccountButton" value="Create Account" onclick="window.location='@Url.Action("CreateAccount", "Login")'" />
        }
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>

        }
    </div>
    

    <div id="icons">
        <a href="www.facebook.com"> <img class="picture" src="~/Image/facebook.png" width="40px"></a>
        <img class="picture" src="~/Image/instagram.png" width="40px">
        <img class="picture" src="~/Image/youtube.png" width="40px">
        <img class="picture" src="~/Image/twitter.png" width="40px">
    </div>
    
</body>

