


<html lang="en">

<head>
    <style>
        body {
            margin: 0px;
            height: 150vh;
        }

        #left {
            width: 50%;
            height: 100%;
            float: left;
        }

        #right {
            float: left;
            height: 100%;
            width: 50%;
        }

        #top {
            margin-top: 50px;
            width: 100%;
            height: 75%;
        }

        #apartements {
            width: 100%;
            height: 150px;
        }

        #footer {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 200px;
            width: 100%;
            background-color: red;
        }
    </style>
    <meta charset="ascii">
    <meta name="viewport" content="initial-scale=1.0">
</head>
<body style=" margin:0px; background-color:lightblue;">
    <div id="top">
        <div id="left">
            <img src="youtube.png" style="margin-left: 40%;" />
            <table style="margin-top:150px; margin-bottom:150px;" cellpadding="10px">
                <tr>
                    <td><img src="facebook.png" style="border-radius:300px; width:150px; height:150px; align:middle;" /></td>
                    <td>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </td>
                </tr>
            </table>
        </div>
        <div id="right">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
            <p style="margin-top:252px; margin-bottom:100px;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>


    <div id="apartements" style=" height:150px">
        piergbpiqreb
    </div>

    <div id="footer" style=" height:150px">
    </div>
</body>
</html>