
@{
    ViewBag.Title = "MainPage";
}

<html lang="de">

<head>
    <style>
        #icons {
            position: relative;
            top: 400px;
            left: 500px;
        }

        .picture {
            margin-top: 150px;
            margin-bottom: 20px;

            width: 300px;
            height: 200px;
        }

        #mainScreenTop {
            width: 100%;
            
            margin: 0;
        }

        .mainScreenTopField {
            float: left;
            width: 32%;
            margin-right: 2%;
            box-sizing: border-box;
            text-align:center;
        }

        .mainScreenTopField:last-child {
                margin-right: 0;
         }
    </style>
    <meta charset="ascii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel der Seite | Name der Website</title>
</head>
<body style="background-color:lightblue; margin:0px;">
    <!-- Sichtbarer Dokumentinhalt im body -->


    <div id="mainScreenTop">
        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Company.jpg" >
            <p style="color:black; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>


        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Apartments.jpg" >
            <p style="color:black;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>


        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Landlord.jpeg">
            <p style="color:black;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>

    </div>


</body>
</html>

